body {
  background-color: #111111;
  margin: 0;
  padding: 0;
}

div {
  display: block;
  text-align: center;
}

button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  border:solid 4px #3B1157;
  border-radius: 5px;
  background-color: #3B1157;
  color: #fff;
}

button:hover {
  border:solid 4px #3B0157;
  background: #3B0157;
  color: #fff;
}

canvas{
  margin: 0 !important;
  /* display:block; */
  /* width: 800px;
  height: 512px; */
  /* margin: 0; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated; */
  /* margin-top: 10px; */
  /* margin-right: auto;
  margin-left: auto; */
  /* display: block; */
}

img{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100px;
}